:root {
    --jet-black: #0E0E10;
    --graphite-black: #1c1c1c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: white;
}

body {
    background: var(--jet-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial Black;
    font-size: 1.2rem;
    margin-top: 0px;
}

main {
    width: fit-content;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;

}

.aligned-content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.content-left {
    background-color: var(--graphite-black);
    padding: 20px;
    border-radius: 8px;
}

.content-right>img {
    border-radius: 8px;
}