:root {
    --jet-black: #0E0E10;
    --graphite-black: #1c1c1c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: white;
}

body {
    background: var(--jet-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial Black;
    font-size: 1.2rem;
    margin-top: 0px;
}

main {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

.aligned-content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: fit-content;

}

.content-left {
    background-color: var(--graphite-black);
    padding: 20px;
    border-radius: 8px;
}

.content-right>img {
    border-radius: 8px;
}

header {
    display: flex;
    justify-content: right;
    gap: 20px;
}

header>a {
    display: block;
}

.container {
    display: flex;
    background-color: bisque;
    gap: 20px;
    width: 100%;
}

.container-1 {
    justify-content: center;

}

.container-2 {
    align-items: center;
    justify-content: center;
}

.container-3 {
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: calc(200/1536*100vw);
    aspect-ratio: 1 / 1;
    background-color: darkviolet
}